a {
    font-family: 'helvetica neue' sans-serif;
    color: #0B56AB;
    font-size: 1em;
}
a:visited {
	color:#961782;
}

b {
	font-family: sans-serif;
    color: #0B56AB;
    padding-top: 1.2em;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-family: 'helvetica neue' sans-serif;
    font-size: 2.5em;
    margin-bottom: -1.25em;
}

h2 {
    font-family: 'helvetica neue' sans-serif;
    font-weight: lighter;
    font-size: 1.5em;
    text-align: center;
    padding-top: 1.50em;
}

h3 {
    font-family: 'helvetica neue' sans-serif;
    font-weight: normal;
    border-top: 10px solid lightgrey;
    padding-top: 1em;
    margin-top: 3em;
    color: #0B56AB;
    font-weight: bold;
}

h4{
	font-family: 'helvetica neue' sans-serif;
	font-weight: lighter;
	font-size: 10px;
	float:right;
}

li {
    padding-top: 0.3em;
}


#header {
    width: 850px;
    padding-top: 3em;
    padding-bottom: 3em
    left: 0em;
    height: 133px;
    background-image: url('images/header_image_final.png');
    background-size: 850px;
    background-repeat: no-repeat;
}

#call {
	background: #fff;
	position: absolute;
	border:#eee 1px solid;
	width: 850px;
	padding: 2em;
	font-size: 14px;
    font-family: 'helvetica neue' sans-serif;
    margin:0em;
}


.justified {
	text-align: justify;
}

.quote {
    font-style: italic;
    font-size: 1.15em;
    margin-top: 3.5em;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    font-weight: 200;
}

.quoteName {
    text-align: right;
    padding-right: 5%;
    margin-top: -0.75em;
    font-style: normal;
}

